html {
  position: relative;
  min-height: 100%;
}

/* Preventing header from overlapping main content */
body {
  margin-top: 50px;
  margin-bottom: 160px;
}

p.wrap {
  word-wrap:break-word;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding-bottom: 10px;
}

.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#homeJumbotron {
  background-size: cover;
  height: 600px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

#userJumbotron {
  background-repeat: repeat;
  height: 315px;
  margin-bottom: 0px;
}

#profileNav {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: #e2e2e2;
  margin-bottom: 20px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.ThumbnailStyle {
  marginBottom: "0px";
}

.chartMediaBody {
  vertical-align: middle;
}

.chartLikesBarSeperator {
  margin-top:15px;
}

.list-group-item {
  border: none;
  box-shadow: none;
}

.list-group {
  box-shadow: none;
}

.search-result-image {
  padding-top: 15px;
  padding-bottom: 20px;
}

.disableClick {
  pointer-events: none;
}

.deleteCommentButton {
  padding: 0px;
}

.editProfileModalCol {
  padding-left: 0px;
}

.updateProfilePictureBtn {
  margin-top: 8px;
}

.editProfilePicInput {
  margin-top: 10px;
}

editModalPicCol {
  padding-top: 100px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.center-upload-albumArt {
  padding-top: 3%;
  display: flex;
  align-items: center;
}

.upload-album-art-img {
  border: 1px solid #dddddd;
}

.trackJumbotronDateDiv {
  padding-right: 0px
}

.img100 {
  width: 100%;
  height: 100%;
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  background: #337ab7;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #337ab7;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* END Spinner */